/*For sticky footer*/
html {
    position: relative;
    min-height: 100%;
}
body{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 150%;
    color: #777777;
    font-size: 18px;
    background-image: url("../images/bg_packman.jpg");
    margin-bottom: 39px; /*Footer height*/
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    color: rgb(55, 125, 190);
    font-style: normal;
}
h1{
     font-size: 32px;
}
a{
     font-family: 'Nunito Sans', sans-serif;
     color: white;
     text-decoration: none;
}

.wrapper {
    display: flex;
    width: 100%;
}

.bg-darker{
    background-color: rgb(15, 15, 15);
}

.udselected{
    color: rgb(55, 125, 190) !important;
    text-decoration: none;
}

.navbar{
    background: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(55, 125, 190,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
  
.navbar-toggler {
    border-style:none !important;
}

.navbar-brand{
    font-family: 'Nunito Sans', Times, Times New Roman, serif;
    font-size: 32px;
    background: rgb(55, 125, 190);
}

.nav-item{
    font-size: 16px;
    color: #777777;
}

.nav-link{
    padding: 0px 14px !important;
    margin: auto;
    font-size: 16px;
}

.nav-link:hover{
    background-color:rgb(55, 125, 190);
    color: white !important;
    text-decoration: none;
}

.carousel-caption{
    opacity: 0;
    background-color:rgba(0,0,0,0.75);
}

.carousel-caption:hover{
    opacity: 1;
    transition-duration: 0.5s;
}

.udOverlayButtons{
    background-color: transparent;
}

.emptyBottomSpace{
    height: 5px;
}

/*For sticky footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 39px;
    line-height: 39px;
}

.sidebarCollapse {
    border-style:none !important;
}

.sidebar-header{
    padding: 13px;
}

.sidebar-list{
    margin: 6px 0px 0px 0px;
}

.sideudselected{
    background-color:rgb(68, 155, 236);
    color: white !important;
    text-decoration: none;
}

.side-link{
    text-decoration: none !important;
}

.side-link:hover{
    background-color:white ;
    color: rgb(55, 125, 190) !important;
    text-decoration: none;
}

.textHighlight{
    color:rgb(68, 155, 236);
}

.btnLinkedin{
    color: white;
    background-color: rgb(0,119,181);
}
.btnLinkedin:hover{
    background-color: rgb(0, 88, 136);
}

.btnGithub{
    color: white;
    background-color: rgb(36,41,46);
}
.btnGithub:hover{
    background-color: rgb(54, 62, 70);
}

.btnEnvelope{
    color: white;
    background-color: rgb(254,198,13);
}
.btnEnvelope:hover{
    background-color: rgb(197, 154, 12);
}

.input-group-text{
    width: 100px;
    text-align: center;
}

/*------------Animation controls-----------*/
.udAnimOrder0{
    animation-duration: 0.7s !important;
}
.udAnimOrder1{
    animation-duration: 1.4s !important;
}
.fadeInRight{
    animation:fadeInRight forwards;
}
.fadeOutRight{
    animation:fadeOutRight forwards;
}
.fadeInLeft{
    animation:fadeInLeft forwards;
}
.fadeOutLeft{
    animation:fadeOutLeft forwards;
}
.fadeInDown{
    animation:fadeInDown forwards;
}
.fadeOutUp{
    animation:fadeOutUp forwards;
}
.bounceIn{
    animation:bounceIn forwards;
}
.bounceOut{
    animation:bounceOut forwards;
}
.zoomOutDown{
    animation: zoomOutDown;
}

#sidebar.active {
    margin-left: -200px;
}

#content{
    width:100%;
    margin: auto;
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgb(55, 125, 190);
    color:white;
    display: none;
    transition: all 0.3s;
}

#udHeader{
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
}

#navbarBackground{
    background: #ffffff;
}

#MiddleNavButton{
    border-left-color: rgb(200,200,200);
    border-right-color: rgb(200,200,200);
    border-style: solid;
    border-width: 2px;
    border-top-style: none;
    border-bottom-style: none;
}

#mainContainer{
    margin: 0px auto 40px auto;
    background:#ffffff;
    border-color:#dddddd;
    padding-bottom: 20px;
}

#ContactSubmitButton,#AboutPortfolioButton{
    background: rgb(55, 125, 190);
    color: white;
    border-style: none;
    font-size: 18px;
}

#ContactSubmitButton:hover,#AboutPortfolioButton:hover{
    background: rgb(70, 153, 231);
}

#FooterThinLine {
    background: rgb(55, 125, 190);
    height: 5px;
}

#FooterThickLine{
    font-size: small;
    color: lightgray;
    background:#666666 !important;
    padding: 15px;
}

/*-----------------------------Animations-------------------------------------------*/
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeOutRight {
    0% {opacity: 1;}
    50%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    75% {
        opacity: 0.5;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeOutLeft {
    0% {opacity: 1;}
    100% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
}
@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeOutUp {
    0% {opacity: 1;}
    100% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
}
@keyframes bounceIn {
    0%,20%,40%,60%,80%,100% {animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
    0%,40% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    60% {transform: scale3d(1.1, 1.1, 1.1);}
    70% {transform: scale3d(0.9, 0.9, 0.9);}
    80% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    90% {
        opacity: 1;
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceOut {
    20% {transform: scale3d(0.9, 0.9, 0.9);}
    50%,55% {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1);
    }
    100% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
}
@keyframes zoomOutDown {
    40% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    75%{opacity: 0;}
    100% {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
      transform-origin: center bottom;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

/*-----------------------------Responsive settings------------------------------------*/

@media only screen and (max-width: 576px) {
    
    /*Center images and adjust on-screen content to the full width*/
    .udResizeText{
        font-size: 16px !important;
    }
    .udSectionHeader{
        align-items: center !important;
        text-align: center !important;
    }
    #navbarWrapper,
    #mainContainer{
        max-width: 100%;
        margin:0;
    }
    /*Center and widen "Submit" button on contact page, for better mobile experience*/
    #ContactSubmitButton{
        width: 100%;
        margin: auto;
    }
}

/*Removes borders for middle nav button (portfolio link) when collapsed*/
@media only screen and (max-width: 768px) {

    .nav-link{
        padding: 0px;
    }
    .sidebarCollapse{
        color:white;
    }
    .udResizeText{
        font-size: 18px !important;
    }
    #sidebar {
        width: 33%;
        margin-left: -33%;
        display: block;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #mainContainer{
        width: 100%;
        margin: 0px auto 0px auto;
        background:#ffffff;
        border-color:#dddddd;
    }
}

@media only screen and (max-width: 990px) {
    .udResizeText{
        font-size: small !important;
        line-height: 120%;
    }
}